@import "mixin.less";
[data-code="bilibili"] {
    @import "bilibili.less";
}

[data-code="gamersky"] {
    @import "gamersky.less";
}

[data-code="bilibili-feed"] {    
   @import "bilibili-feed.less";
}
[data-code="zhihu"] {    
   @import "zhihu.less";
}

* {
    box-sizing: border-box;
    font-family: punctuation, "PingFangSC-Regular", "Microsoft Yahei", "sans-serif";
    -webkit-font-smoothing: subpixel-antialiased;
}

.area-title {
    margin-left: 0px;
}
.area{
    vertical-align: top;
}